{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <main class="site-main">
        <!--================Hero Banner start =================-->
        <section class="mb-30px">
            <div class="container">
                <div class="hero-banner">
                    <div class="hero-banner__content">
                        <h3>Tours & Travels</h3>
                        <h1>Amazing Places on earth</h1>
                        <h4>December 12, 2018</h4>
                    </div>
                </div>
            </div>
        </section>
        <!--================Hero Banner end =================-->

        <!--================ Blog slider start =================-->
        <section>
            <div class="container">
                <div class="owl-carousel owl-theme blog-slider">
                    {% for latest_article in latest_articles %}
                        <div class="card blog__slide text-center">
                            <div class="blog__slide__img">
                                <img class="card-img rounded-0" src="{{ asset('img/'~latest_article.getImagePath()) }}" alt="">
                            </div>
                            <div class="blog__slide__content">
                                <a class="blog__slide__label" href="#">{{ latest_article.category.name }}</a>
                                <h3><a href="#">{{ latest_article.title }}</a></h3>
                                <p>{{ latest_article.created|duration }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--================ Blog slider end =================-->

        <!--================ Start Blog Post Area =================-->
        <section class="blog-post-area section-margin mt-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        {% for article in articles %}
                            <div class="single-recent-blog-post">
                                <div class="thumb">
                                    <img class="img-fluid" src="{{ asset('img/'~article.getImagePath()) }}" alt="">
                                    <ul class="thumb-info">
                                        <li><a href="#"><i class="ti-user"></i>{{ article.getUser().getUsername()  }}</a></li>
                                        <li><a href="#"><i class="ti-notepad"></i>{{ article.created|date }}</a></li>
                                        <li><a href="#"><i class="ti-themify-favicon"></i>{{ article.getComments()|length }} {{ article.getComments()|length == 1?'Comment':'Comments' }}</a></li>
                                    </ul>
                                </div>
                                <div class="details mt-20">
                                    <a href="blog-single.html">
                                        <h3>{{ article.title }}</h3>
                                    </a>
                                    <p class="tag-list-inline">Tag: <a href="#">travel</a>, <a href="#">life style</a>, <a href="#">technology</a>, <a href="#">fashion</a></p>
                                    <p>{{ article.content }}</p>
                                    <a class="button" href="#">Read More <i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col-lg-12">
                                <nav class="blog-pagination justify-content-center d-flex">
                                    {{ pagerfanta(articles) }}
                                </nav>
                            </div>
                        </div>
                    </div>
                    {% include 'partials/sidebar.html.twig' %}
                </div>
                <!-- End Blog Post Siddebar -->
            </div>
        </section>
        <!--================ End Blog Post Area =================-->
    </main>
{% endblock %}
