<!-- Start Blog Post Siddebar -->
<div class="col-lg-4 sidebar-widgets">
    <div class="widget-wrap">
        {% for message in app.flashes('success') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
        <div class="single-sidebar-widget newsletter-widget">
            <h4 class="single-sidebar-widget__title">Newsletter</h4>
            {% set newsletterForm = home_service.getNewsletterFormView %}
            {{ form_start(newsletterForm) }}
            <div class="form-group mt-30">
                <div class="col-autos">
                    {{ form_widget(newsletterForm.email) }}
                </div>
            </div>
                {{ form_widget(newsletterForm.submit) }}
            {{ form_end(newsletterForm) }}
        </div>


        <div class="single-sidebar-widget post-category-widget">
            <h4 class="single-sidebar-widget__title">Category</h4>
            <ul class="cat-list mt-20">
                {% for side_category in global_categories.getAllCategories() %}
                    <li>
                        <a href="{{ path('category_articles',{id: side_category.id}) }}" class="d-flex justify-content-between">
                            <p>{{ side_category.name }}</p>
                            <p>{{ side_category.articles.count() }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="single-sidebar-widget popular-post-widget">
            <h4 class="single-sidebar-widget__title">Popular Post</h4>
            <div class="popular-post-list">
                {% for popular_article in global_articles.getPopularArticles(3) %}
                <div class="single-post-list">
                    <div class="thumb">
                        <img class="card-img rounded-0" src="{{ asset('img/'~popular_article.getImagePath()) }}" alt="">
                        <ul class="thumb-info">
                            <li><a href="{{ url('article',{id: popular_article.id}) }}">{{ popular_article.user.username }}</a></li>
                            <li><a href="{{ url('article',{id: popular_article.id}) }}">{{ popular_article.created|date('d M') }}</a></li>
                        </ul>
                    </div>
                    <div class="details mt-20">
                        <a href="{{ url('article',{id: popular_article.id}) }}">
                            <h6>{{ popular_article.title }}</h6>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="single-sidebar-widget tag_cloud_widget">
            <h4 class="single-sidebar-widget__title">Popular Post</h4>
            <ul class="list">
                <li>
                    <a href="#">project</a>
                </li>
                <li>
                    <a href="#">love</a>
                </li>
                <li>
                    <a href="#">technology</a>
                </li>
                <li>
                    <a href="#">travel</a>
                </li>
                <li>
                    <a href="#">software</a>
                </li>
                <li>
                    <a href="#">life style</a>
                </li>
                <li>
                    <a href="#">design</a>
                </li>
                <li>
                    <a href="#">illustration</a>
                </li>
            </ul>
        </div>
    </div>
</div>