{% extends 'base.html.twig' %}

{% block title %}{{ category_name }} Page{% endblock %}

{% block body %}
    <!--================ Hero sm Banner start =================-->
    <section class="mb-30px">
        <div class="container">
            <div class="hero-banner hero-banner--sm">
                <div class="hero-banner__content">
                    <h1>{{ category_name }} Page</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ url('posts') }}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ category_name}} Page</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--================ Hero sm Banner end =================-->
    <!--================ Start Blog Post Area =================-->
    <section class="blog-post-area section-margin">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        {% for article in articles %}
                        <div class="col-md-6">
                            <div class="single-recent-blog-post card-view">
                                <div class="thumb">
                                    <img class="card-img rounded-0" src="{{ asset('img/'~article.getImagePath()) }}" alt="">
                                    <ul class="thumb-info">
                                        <li><a href="#"><i class="ti-user"></i>{{ article.user.username }}</a></li>
                                        <li><a href="#"><i class="ti-themify-favicon"></i>{{ article.comments.count }} {{ article.comments.count == 1?'Comment':'Comments' }}</a></li>
                                    </ul>
                                </div>
                                <div class="details mt-20">
                                    <a href="blog-single.html">
                                        <h3>{{ article.title }}</h3>
                                    </a>
                                    <p>{{ article.content }}</p>
                                    <a class="button" href="{{ url('article',{'id':article.id}) }}">Read More <i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <nav class="blog-pagination justify-content-center d-flex">
                                {{ pagerfanta(articles) }}
                            </nav>
                        </div>
                    </div>
                </div>

                <!-- Start Blog Post Siddebar -->
                {% include 'partials/sidebar.html.twig' %}
            </div>
            <!-- End Blog Post Siddebar -->
        </div>
    </section>
    <!--================ End Blog Post Area =================-->
{% endblock %}
