{% extends 'login-registration.html.twig' %}

{% block body %}
<h2>Sensive Blog</h2>
{% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}
<form action="{{ path('login') }}" method="post">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" id="password" name="_password"/>
        <input type="hidden" name="_target_path" value="/admin"/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </div>
    <button type="submit" class="btn btn-default">Login</button>
    <a href="{{ path('app_register') }}" type="button" class="btn btn-default">Register</a>
</form>
{% endblock %}